.mat-expansion-panel {
    background-color: var(--bg-color);
}

.mat-paginator {
    background-color: var(--bg-color);
}


.mat-card {
    width: fit-content;
    background-color: var(--bg-color);
}

.mat-card:not(:last-child) {
    margin-bottom: 1rem;
}

section:not(:first-of-type) {
    margin-top: 3rem;
}

section>h3 {
    font-size: 3rem !important;
    line-height: normal !important;
    text-align: center;
    color: var(--accent);
    text-shadow:
        1px 1px 3px var(--primary),
        -2px -2px 4px wheat;
    display: block;
    margin-bottom: 3rem;
}

.mat-expansion-panel-header {
    height: 56px;
}

:host ::ng-deep .mat-expansion-panel-header .mat-content {
    overflow: visible;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) .mat-expansion-panel-header-title h3 {
    color: var(--primary);
}

.mat-expansion-panel-header-title h3 {
    font-size: 1.3em !important;
    font-weight: 600 !important;
    line-height: normal !important;
    margin: 0;
    width: max-content;
}

.mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
}

.mat-expansion-panel-header-description .mat-icon {
    font-size: 2.5em !important;
    font-weight: bold;
    width: max-content;
    height: max-content;
}

@media screen and (min-width: 768px) {
    .request-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        grid-template-areas: "gap buttons";
    }
}

@media screen and (min-width: 992px) {
    .request-buttons {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
        grid-template-areas: "buttons gap";
    }
}

@media screen and (min-width: 1200px) {
    .request-buttons {
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-gap: 1rem;
        grid-template-areas: "buttons gap";
    }
}

.request-button {
    font-size: 1.2em;
    padding: 0.25rem 1.2rem;
}

@media screen and (max-width: 500px) {
    .mat-card {
        padding: 0 !important;
    }

    :host ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
        padding: 0 !important;
    }
}