<form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="container mat-elevation-z12 ">
        <mat-card-title>
            <h2 class="login-title">Log In</h2>
        </mat-card-title>

        <mat-card-content class="d-flex flex-column justify-content-start pt-4">
            <mat-form-field appearance="fill" *ngVar="loginForm.get('username'); let username">
                <mat-label>Username</mat-label>
                <input matInput id="username" type="text" formControlName="username" autocomplete="username"
                    placeholder="my-username__" [errorStateMatcher]="matcher">
                <mat-icon matSuffix [color]="fieldColor('username')"> {{ fieldIcon('username') }} </mat-icon>

                <mat-error app-mat-err-msgs [errors]="errorMessages.username"></mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="loginForm.get('password'); let password">
                <mat-label>Password</mat-label>
                <input matInput id="password" [type]="hidden?'text':'password'" formControlName="password"
                    autocomplete="current-password" [errorStateMatcher]="matcher">

                <button type='button' mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                    (click)="togglePassword($event)" (touchstart)="togglePassword($event)"
                    (touchend)="togglePassword($event)">
                    <mat-icon> {{hidden ? 'visibility_off':'visibility' }}</mat-icon>
                </button>

                <mat-error app-mat-err-msgs [errors]="errorMessages.password"></mat-error>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-center align-items-center">
            <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">
                Log In
            </button>
        </mat-card-actions>

        <mat-card-footer class="d-flex justify-content-center align-items-center">
            <span [style.visibility]="submitted?'visible':'hidden'" class="error-message">{{errorMessage}}</span>
        </mat-card-footer>

    </mat-card>
</form>