:host {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

:host>div {
    background-color: var(--bg-color);
    max-width: 500px;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
}

form {
    padding: 0 2rem;
}

:host ::ng-deep .mat-form-field {
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    clip-path: inset(-10px -5px 0 -5px);
    margin-bottom: 1.5rem;
}


.login-title {
    font-size: 3.5em;
    line-height: inherit;
    margin: 0 auto 2rem;
    width: fit-content;
    color: var(--accent);
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
}

input {
    font-size: 1.2em;
    line-height: inherit;
}

input:-webkit-autofill {
    -webkit-background-clip: text !important;
}



button[type="submit"] {
    font-size: 1.2em;
    color: var(--bg-color);
    margin-top: 2rem;
    width: min-content;
    padding: 5px 20px;
    margin: 0 auto;
}

:host ::ng-deep .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--warn);
}

@media screen and (max-width: 500px) {
    .container {
        box-shadow: none;
    }

    :host>div {
        margin: 0;
    }
}