<div class="container mat-elevation-z12">
    <h2 class="login-title">Change password</h2>

    <form name="chgPwdForm" id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"
        class="d-flex flex-column justify-content-start">

        <mat-form-field appearance="fill" *ngVar="changePasswordForm.get('current'); let password">
            <mat-label>Current password</mat-label>
            <input matInput name="current" id="current" [type]="fieldType('current')" formControlName="current"
                autocomplete="current-password" [errorStateMatcher]="matcher">

            <button type='button' mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                (click)="togglePassword('current',$event)" (touchstart)="togglePassword('current',$event)"
                (touchend)="togglePassword('current',$event)" tabindex="-1">
                <mat-icon> {{fieldIcon('current')}}</mat-icon>
            </button>

            <mat-error *ngIf="password?.hasError('required')">
                You must enter your password
            </mat-error>
            <mat-error *ngIf="password?.hasError('minlength')">
                Your password is at least 8 characters long
            </mat-error>
            <mat-error *ngIf="password?.hasError('maxlength')">
                Your password is at most 14 characters long
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngVar="changePasswordForm.get('new'); let password">
            <mat-label>New password</mat-label>
            <input matInput name="new" id="new" [type]="fieldType('new')" formControlName="new"
                autocomplete="current-password" [errorStateMatcher]="matcher">

            <button type='button' mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                (click)="togglePassword('new',$event)" (touchstart)="togglePassword('new',$event)"
                (touchend)="togglePassword('new',$event)" tabindex="-1">
                <mat-icon> {{fieldIcon('new')}}</mat-icon>
            </button>

            <mat-error *ngIf="password?.hasError('required')">
                You must enter your password
            </mat-error>
            <mat-error *ngIf="password?.hasError('minlength')">
                Your password is at least 8 characters long
            </mat-error>
            <mat-error *ngIf="password?.hasError('maxlength')">
                Your password is at most 14 characters long
            </mat-error>
            <mat-error *ngIf="password?.hasError('pattern')">
                Password is not secure enough
            </mat-error>
        </mat-form-field>
        <table class="password_reqs" *ngVar="changePasswordForm.get('new'); let pwd">
            <tr *ngFor="let check of passwordChecks">
                <td *ngVar="check.regex.test(pwd?.value??''); let valid">
                    <mat-icon *ngIf="!pwd?.dirty" color="accent">help</mat-icon>
                    <mat-icon *ngIf="pwd?.dirty && valid" color="primary">check</mat-icon>
                    <mat-icon *ngIf="pwd?.dirty && !valid" color="warn">cancel</mat-icon>
                </td>
                <td><span>{{check.error}}</span></td>
            </tr>
        </table>

        <mat-form-field appearance="fill" *ngVar="changePasswordForm.get('confirm'); let password">
            <mat-label>Confirm Password</mat-label>
            <input matInput name="confirm" id=" confirm" type="password" formControlName="confirm"
                autocomplete="new-password" [errorStateMatcher]="passwordMissmatch">

            <mat-error *ngIf="password?.hasError('required')">
                You must enter your password
            </mat-error>
            <mat-error *ngIf="password?.hasError('minlength')">
                Your password is at least 8 characters long
            </mat-error>
            <mat-error *ngIf="password?.hasError('maxlength')">
                Your password is at most 14 characters long
            </mat-error>
            <mat-error *ngIf="changePasswordForm.hasError('mismatch')">
                Passwords do not match
            </mat-error>
        </mat-form-field>


        <div *ngIf="submitted && errorMessage !== ''" class="error-message">
            <span>{{errorMessage}}</span>
        </div>

        <button mat-raised-button type="submit" color="primary" [disabled]="!changePasswordForm.valid">
            Submit
        </button>
    </form>

</div>