<div class="container-fluid pt-2 py-2 px-2">

    <form #addExamForm="ngForm" class="add-exam-form">
        <div class="add-exam-form-inputs">
            <div class="add-exam-form-input">
                <input type="text" name="name" pInputText [(ngModel)]="newExam.name" [required]="true" #name="ngModel"
                    placeholder="Name">
            </div>
            <div class="add-exam-form-input">
                <p-inputNumber type="text" name="price" mode="currency" currency="RSD" [minFractionDigits]="2"
                    [maxFractionDigits]="5" [(ngModel)]="newExam.price" placeholder="Price" [required]="true"
                    #price="ngModel"></p-inputNumber>
            </div>
            <div class="add-exam-form-input">
                <p-inputNumber type="text" name="duration" [min]="0" placeholder="Duration"
                    [(ngModel)]="newExam.duration" #duration="ngModel"></p-inputNumber>
            </div>
        </div>
        <div class="add-exam-form-button">
            <button mat-raised-button color="warn" type="button"
                *ngIf="addExamForm.invalid && addExamForm.dirty && addExamForm.touched">
                Reset
            </button>
            <button mat-raised-button color="accent" type="button" (click)="addExam()" [disabled]="addExamForm.invalid">
                Add
            </button>
        </div>
    </form>
</div>
<form #examForm="ngForm" (ngSubmit)="saveEdit($event)" *ngIf="specialization">
    <mat-table [dataSource]="specialization.examinations" class="mat-elevation-z4 w-100"
        *ngIf="specialization.examinations.length > 0; else noExaminations">

        <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index"
                [ngClass]="editing && editingIndex ==i?'editing' : 'not-editing'">
                <span class="mobile-label">Name:</span>
                <span *ngIf="!editing || editingIndex != i">{{element.name}}</span>
                <input *ngIf="editing && editingIndex == i" type="text" name="name" pInputText
                    [(ngModel)]="element.name" [required]="true" #name="ngModel" placeholder="Name">
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="price">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index"
                [ngClass]="editing && editingIndex ==i?'editing' : 'not-editing'">
                <span class="mobile-label">Price:</span>
                <span *ngIf="!editing || editingIndex != i"> {{element.price | currency:'RSD'}} </span>
                <p-inputNumber *ngIf="editing && editingIndex == i" type="text" name="price" mode="currency"
                    currency="RSD" [minFractionDigits]="2" [maxFractionDigits]="5" [(ngModel)]="element.price"
                    placeholder="Price" [required]="true" #price="ngModel"></p-inputNumber>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Duration (min) </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index"
                [ngClass]="editing && editingIndex ==i?'editing' : 'not-editing'">
                <span class="mobile-label">Duration ( min ):</span>
                <span *ngIf="!editing || editingIndex != i"> {{element.duration}} </span>
                <p-inputNumber *ngIf="editing && editingIndex == i" type="text" name="duration" [min]="0"
                    placeholder="Duration " [(ngModel)]="element.duration" #duration="ngModel"></p-inputNumber>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions">
            <mat-header-cell mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let exam; let i = index"
                [ngClass]="editing && editingIndex ==i?'editing' : 'not-editing'">
                <span class="mobile-label">Actions:</span>
                <div class="buttons">
                    <button mat-icon-button type="button" *ngIf="editingIndex != i" (click)="startEdit(i)"
                        [disabled]="editing" type="button">
                        <mat-icon color="green">edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="editing && editingIndex == i" type="submit"
                        [disabled]="examForm.invalid">
                        <mat-icon color="green">save</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" type="button" *ngIf="editing && editingIndex == i"
                        type="button" (click)="cancelEdit(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" type="button" *ngIf="editingIndex != i"
                        [disabled]="editing && editingIndex != i" type="button" (click)="deleteExam(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="headerRows"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: headerRows;"> </mat-row>
    </mat-table>
</form>
<ng-template #noExaminations>
    <div class="no-examinations mat-elevation-z4">
        <p>There are no examinations defined for this specialization</p>
    </div>
</ng-template>