<div class="container d-flex flex-column align-items-center justify-content-center mt-sm-5 mt-2 flex:1">
    <div class="text" *ngIf="!loading">
        <p>
            We are searching for your page...
        </p>

        <div class="d-flex align-items-center" style="align-self: stretch;">
            <mat-progress-bar class="my-3" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <div class="d-flex my-2" [ngClass]="{'img-container':!loading}">
        <img src="/assets/images/doctor_404.png" alt="Doctor - 404" (load)="handleImageLoaded()">
    </div>
    <p *ngIf="!loading">
        ... But we can not find it.
    </p>

</div>

<!-- /assets/images/doctor_404.png -->