.about-gallery {
    margin-bottom: 50px;
    line-height: normal;
}

.about-gallery h4 {
    color: var(--accent);
    font-weight: bold;
    font-size: 1.8em;
}

.about-gallery p {
    text-indent: 2rem;
    font-size: 1.2em;
}

.about-gallery .row {
    margin-top: 2em;
}

.about-gallery .about-gallery-card {
    background-color: rgba(255, 255, 255, 0.306);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--accent);
}

.about-gallery .about-gallery-card:nth-child(even) {
    flex-direction: row-reverse;
}


.about-gallery .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
    text-align-last: left;
}

.about-gallery .text div h4 {
    margin: 0 auto 1rem;
    width: 80%;
}

.about-gallery .text div p {
    margin: 0 auto;
    width: 90%;
}

.img {
    text-align: center;
    max-width: 100%;
}

.img img {
    border-radius: 5px;
    height: auto;
    width: 65%;
    outline: 1px solid var(--primary);
}

.text-muted {
    text-indent: 2em;
    text-align: justify;
}

.hidden {
    display: none;
}

@media (max-width: 576px) {
    .about-gallery .row {
        padding-top: 20px;
    }

    .about-gallery .row {
        margin-top: 0;
    }

    .about-gallery .about-gallery-card {
        border-radius: 0;
        box-shadow: 0px 2px 5px 5 #ff4081;
        border-bottom: 3px inset #ff408180;
        clip-path: inset(0px 0px -3px 0px);
    }
}

@media (min-width: 768px) {

    .about-gallery .about-gallery-card:nth-child(even) .text h4 {
        text-align: right;
    }

    .about-gallery .about-gallery-card .img2 {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .about-gallery .text div {
        padding: 0;
        text-align-last: auto;
    }

    .about-gallery .text div h4 {
        width: 100%;
        margin: 1rem auto;

        text-align: center;
    }

    .about-gallery .text div p {
        width: 80%;
    }

    .about-gallery .about-gallery-card .img1 {
        display: none !important;
    }

}