:host {
    display: block;
}

form.exam-req {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form.exam-req .controls {
    --gap: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 50%;
    gap: var(--gap);
}

form.exam-req .controls mat-form-field {
    margin: 0;
    flex: 1 1 100%;
}

@media screen and (max-width: 500px) {
    form.exam-req .controls {
        align-items: flex-start;
    }

    form.exam-req .controls mat-form-field {
        margin: 0 1rem;
        flex: 1 1 100% !important;
    }

    form.exam-req button {
        margin-right: 1rem;
    }
}