.page_title {
    font-weight: bold;
}

.profile-card {
    border-radius: 10px;
    background-color: rgb(245, 222, 179, .15);
}

.goback {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-inline: 0 auto;
}

.goback .mat-icon {
    font-size: 1.2em;
}