<div [ngClass]="!(isHandset$ | async) ? 'container' : 'container-fluid'" class="about-gallery mt-sm-5">
    <div class="row about-gallery-card" *ngFor="let image of images; let i = index">

        <div class="col-md-5 img p-3">
            <img [src]="image.path" class="img-fluid" [alt]="image.alt" />
        </div>
        <div class="col-md-7 text p-4 pt-1">
            <div class="container-fluid" [ngClass]="i%2==1?'ps-sm-0':'pe-sm-0'" [ngClass]="i%2==1?'pe-sm-0':'ps-sm-0'">
                <h4>{{image.title}}</h4>
                <p>{{image.text}} <a *ngIf="image.link !== undefined" [href]="image.link">{{image.link_text}}</a>
                </p>
            </div>
        </div>
    </div>
</div>