<footer class="container-fluid d-flex justify-content-center align-items-center flex-column px-0">

    <div class="row w-100">
        <h2>How to find us?</h2>
        <div id="house-media-map"></div>
    </div>

    <div class="container-fluid d-flex row w-100 info">
        <div>
            <div class="col-md-6 col-12 info-item">
                <mat-icon> location_on</mat-icon>
                <div>
                    <h3>Address</h3>
                    <p> Bulevar kralja Aleksandra 73, Beograd 11000</p>
                </div>
            </div>
            <div class="col-md-6 col-12 info-item">
                <mat-icon>person</mat-icon>
                <div>
                    <h3>Contact</h3>
                    <p>+381 011 / 123 - 456</p>
                    <p>+381 61 2345 678</p>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6 col-12 info-item">
                <mat-icon>access_time</mat-icon>
                <div>
                    <h3>Working time</h3>
                    <p>Every day: 00-24 h</p>
                </div>
            </div>
            <div class="col-md-6 col-12 info-item">
                <mat-icon>access_time</mat-icon>
                <div>
                    <h3>Visiting hours</h3>
                    <p>Monday - Saturday: 10am - 17pm</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center copyright">
        <div class="col-md-12 d-flex align-items-center ">
            <p>&copy; 2023 HouseMedica, Inc.</p>
        </div>
    </div>

</footer>