:host {
    display: block;
    background-color: var(--primary);
    margin-top: 3rem;
}


footer {
    display: block;
    height: 100%;

    color: var(--bg-color);

    padding-top: 2em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.185);

}

footer h2 {
    font-size: 3em;
    font-weight: 500;
    width: fit-content;
    margin: 10px auto 1em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    word-spacing: 4px;
}




#house-media-map {
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    height: 500px;
    width: 100%;
    padding: 0;
    background-color: var(--bg-color);
}

.info {
    background-color: var(--accent);
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;

}

.info>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    padding: 0;
}

.info>div>div:last-child {
    margin: 0;
}

div.info-item {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 100%;
    min-width: 25rem;
    margin-inline: auto;
    color: var(--bg-color);
}

div.info-item h3 {
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    margin: 0 2rem 10px 0;
    margin-block: 0 5px;
}

div.info-item mat-icon {
    font-size: 2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-block: 0 auto;
    margin-inline: 0 20px;
    width: fit-content;
    height: fit-content;
}

div.info-item p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    width: max-content;
    margin: 0;

}

@media (max-width: 768px) {
    .info>div:last-child {
        margin: 0;
    }

    div.info-item {
        text-align: center;
        flex-direction: column;
        align-items: center;
        min-width: inherit;

    }

    .info>div>div:last-child {
        margin-bottom: 2rem;
    }

    div.info-item h3 {
        margin: 0;
        margin-bottom: 10px;
    }

    div.info-item p {
        width: 100%;
        margin: 0;
        margin-block: 0 auto;
        margin-bottom: 3px;
    }

    div.info-item mat-icon {
        margin: 0;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.copyright p {
    margin: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}