<h2 class="page_title">
    <mat-icon color="primary" class="title-icon">supervised_user_circle</mat-icon>
    <span>Dashboard</span>
</h2>

<div class="container-fluid px-0 py-4" color="primary">
    <nav mat-tab-nav-bar dynamicHeight mat-align-tabs="center" [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let link of navLinks" routerLink="{{baseRoute}}/{{ link.location }}" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            <mat-icon color="accent">{{ link.icon }}</mat-icon>
            <span>{{ link.label | uppercase }}</span>
        </a>
    </nav>
</div>
<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>