:host ::ng-deep .mat-form-field-disabled .mat-form-field-wrapper {
    padding: 0;
}

:host ::ng-deep .mat-form-field-disabled input,
:host ::ng-deep .mat-form-field-disabled textarea {
    color: var(--primary);
    resize: none;
}

:host ::ng-deep .mat-form-field-disabled mat-label {
    font-weight: 500;
    color: var(--accent);
}

.edit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

button:not(.image-overlay) {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--bg-color);
}

button:not(.image-overlay) mat-icon {
    font-size: xx-large;
    height: max-content;
    width: max-content;
}



.edit>button {
    margin: 0 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 0.25rem;
    grid-template-areas:
        "picture editing";
    height: min-content;
}


@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "picture"
            "editing"
    }
}

.grid-child.editing {
    grid-area: editing;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

.grid-child.editing .fields {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.grid-child.editing .fields .mat-form-field {
    margin: 0.25rem;
    box-shadow: none;
    flex: 1 1 calc(50% - 0.5rem);
    border-radius: 5px;
    border: 1px solid var(--primary);
    background-color: rgb(245, 222, 179, 0.1) !important;
    align-self: flex-start;
    order: 1;
}

.grid-child.editing .fields .mat-form-field:has(textarea) {
    align-self: flex-end;
    order: 2;
}

.grid-child.picture {
    grid-area: picture;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.image-border img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.image-border {
    max-height: 300px;
    height: 100%;
    aspect-ratio: 1/1;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    border: double 10px transparent;
    border-radius: 50%;
    background-origin: border-box;
    background-image: linear-gradient(white, white),
        radial-gradient(circle at top left, var(--warn), var(--accent), var(--primary));
    background-clip: padding-box, border-box;
    overflow: hidden;
}