:host {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



:host>div {
    background-color: var(--bg-color);
    width: min-content;
    border-radius: 10px;
    margin: 2rem auto;
    font-size: 1.1em;
}

.register-title {
    font-size: 3.5em;
    line-height: inherit;
    margin: 2rem auto;
    width: fit-content;
    color: var(--accent);
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
}



:host ::ng-deep.mat-stepper-horizontal,
:host ::ng-deep.mat-stepper-vertical {
    background-color: var(--bg-color);

}

:host ::ng-deep .mat-horizontal-stepper-content,
:host ::ng-deep .mat-vertical-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 0 2.5rem;
}

:host ::ng-deep .mat-horizontal-stepper-content .mat-form-field:first-child,
:host ::ng-deep .mat-vertical-content .mat-form-field:first-child {
    margin-top: 1rem;
}

.pwdmatch {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 1rem;
}

.clearPicture {
    color: var(--bg-color);
    flex-grow: 2;
    max-width: 40px;
    margin: 0 10px 10px;
}

.pwdmatch span {
    width: fit-content;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button:not([mat-icon-button]) {
    font-size: 1.2em;
    width: min-content;
}

:host ::ng-deep .mat-form-field {
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    clip-path: inset(-10px -5px 0 -5px);
    margin-bottom: 0.5rem;
}

:host ::ng-deep button[matsteppernext],
:host ::ng-deep button[matstepperprevious] {
    background-color: var(--accent);
    color: var(--bg-color);
    margin: 0
}

:host ::ng-deep button[matsteppernext] {
    margin-right: 1rem;
}

:host ::ng-deep button[matstepperprevious] {
    margin-left: 1rem;
}

input {
    line-height: inherit;
}



button {
    margin-top: 20px;
    width: min-content;
    margin: 0 auto;
}

#image_preview {
    display: block;
    object-fit: cover;
    width: 200px;
    height: auto;
    margin: 0 auto 1rem;
}


:host ::ng-deep table.password_reqs {
    margin: 0 auto 1rem 2rem;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}

:host ::ng-deep table.password_reqs td {
    padding: 0;
}

:host ::ng-deep table.password_reqs tr td:last-child {
    padding-left: 1rem;
    font-size: 0.8em;
}

:host ::ng-deep .mat-horizontal-stepper-content .last_page,
:host ::ng-deep .mat-vertical-content .last_page {
    padding: 1rem;
    font-size: 1.5em;
    text-align: center;
}


@media screen and (max-width: 800px) {
    :host {
        margin: 0;
    }

    :host>div {
        width: 100%;
        box-shadow: none;
        padding-top: 0;
        min-width: 80%;
        margin: 0;

    }

    :host ::ng-deep .mat-vertical-content {
        padding: 0 2.5rem;
    }
}

@media screen and (min-width: 576px) {

    :host ::ng-deep .mat-horizontal-stepper-content,
    :host ::ng-deep .mat-vertical-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-flow: column;
    }
}

@media screen and (max-width: 500px) {
    :host ::ng-deep table.password_reqs {
        margin: 0 auto 1rem 1rem;

    }

}