<div class="mat-elevation-z12">
    <h2 class="register-title">Register</h2>

    <form id="registerForm" [formGroup]="registerForm" enctype="multipart/form-data">
        <mat-stepper [orientation]="(stepperOrientation | async)!" formArrayName="formArray" labelPosition="bottom"
            animationDuration="400" [linear]="false">

            <ng-template matStepperIcon="full_name">
                <mat-icon>perm_identity</mat-icon>
            </ng-template>
            <mat-step [formGroupName]="0" *ngVar="formArray!.get([0]); let group" [stepControl]="group!"
                [errorMessage]="getStepErrorMessage(0)" state="full_name">
                <ng-template matStepLabel>Name</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput id="first_name" name="first_name" type=" text" formControlName="first_name"
                        autocomplete="given-name" autocapitalize="words" autofocus [errorStateMatcher]="matcher" />
                    <mat-error app-mat-err-msgs [errors]="errorMessages.first_name"></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput id="last_name" name="last_name" type="text" formControlName="last_name"
                        autocomplete="family-name" autocapitalize="words" [errorStateMatcher]="matcher" />
                    <mat-error app-mat-err-msgs [errors]="errorMessages.last_name"></mat-error>
                </mat-form-field>
                <div class="nav-buttons">
                    <div></div>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <ng-template matStepperIcon="identity">
                <mat-icon>verified_user</mat-icon>
            </ng-template>
            <mat-step [formGroupName]="1" *ngVar="formArray!.get([1]); let group" [stepControl]="group!"
                [errorMessage]="getStepErrorMessage(1)" state="identity">
                <ng-template matStepLabel>Identity</ng-template>
                <mat-form-field appearance="fill" *ngVar="group!.get('email'); let email">
                    <mat-label>E-mail</mat-label>
                    <input matInput id="email" name="email" type="email" formControlName="email" autocomplete="email"
                        [errorStateMatcher]="matcher" />
                    <mat-error app-mat-err-msgs [errors]="errorMessages.email"></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngVar="group!.get('username'); let username">
                    <mat-label>Username</mat-label>
                    <input matInput id="username" name="username" type="text" formControlName="username"
                        autocomplete="username" [errorStateMatcher]="matcher" />
                    <mat-error app-mat-err-msgs [errors]="errorMessages.username"></mat-error>
                </mat-form-field>
                <div class="nav-buttons">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <ng-template matStepperIcon="contact">
                <mat-icon>call</mat-icon>
            </ng-template>
            <mat-step [formGroupName]="2" *ngVar="formArray!.get([2]); let group" [stepControl]="group!"
                [errorMessage]="getStepErrorMessage(2)" state="contact">
                <ng-template matStepLabel>Contact</ng-template>

                <mat-form-field appearance="fill" *ngVar="group!.get('phone'); let phone">
                    <mat-label>Phone number</mat-label>
                    <input matInput id="phone" name="phone" type="tel" formControlName="phone"
                        autocomplete="tel-national" [errorStateMatcher]="matcher" />
                    <mat-error app-mat-err-msgs [errors]="errorMessages.phone"></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput id="address" name="address" formControlName="address" [style.resize]="'none'"
                        autocomplete="address-line1" [errorStateMatcher]="matcher" rows="4" wrap="soft"></textarea>
                    <mat-error app-mat-err-msgs [errors]="errorMessages.address"></mat-error>
                </mat-form-field>
                <div class=" nav-buttons">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>


            <ng-template matStepperIcon="password">
                <mat-icon>lock</mat-icon>
            </ng-template>
            <mat-step [formGroupName]="3" *ngVar="formArray!.get([3]); let group" [stepControl]="group!"
                [errorMessage]="getStepErrorMessage(3)" state="password">
                <ng-template matStepLabel>Password</ng-template>

                <mat-form-field appearance="fill" *ngVar="group!.get('password'); let pwd">
                    <mat-label>New password</mat-label>
                    <input matInput id="password" name="password" [type]="passwordHidden?'text':'password'"
                        formControlName="password" autocomplete="new-password" [errorStateMatcher]="matcher" />
                    <button type='button' mat-icon-button matSuffix [attr.aria-label]="'Hide password'"
                        (click)="togglePassword($event)" (touchstart)="togglePassword($event)"
                        (touchend)="togglePassword($event)" tabindex="-1">
                        <mat-icon> {{passwordHidden ? 'visibility_off':'visibility' }}</mat-icon>
                    </button>

                    <mat-error app-mat-err-msgs [errors]="errorMessages.password"></mat-error>

                </mat-form-field>
                <table class="password_reqs" *ngVar="group!.get('password'); let pwd">
                    <tr *ngFor="let check of passwordChecks">
                        <td *ngVar="check.regex.test(pwd!.value); let valid">
                            <mat-icon *ngIf="!pwd!.dirty" color="accent">help</mat-icon>
                            <mat-icon *ngIf="pwd!.dirty && valid" color="primary">check</mat-icon>
                            <mat-icon *ngIf="pwd!.dirty && !valid" color="warn">cancel</mat-icon>
                        </td>
                        <td><span>{{check.error}}</span></td>
                    </tr>
                </table>

                <mat-form-field appearance="fill" *ngVar="group!.get('confirm_password'); let cpwd">
                    <mat-label>Confirm password</mat-label>
                    <input matInput id="confirm_password" type="password" formControlName="confirm_password"
                        autocomplete="new-password" [errorStateMatcher]="confirmPasswordMatcher" />
                    <mat-error *ngIf="cpwd!.hasError('required')">
                        Please confirm your password
                    </mat-error>
                    <mat-error *ngIf="group!.hasError('mismatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
                <div class="nav-buttons">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <ng-template matStepperIcon="picture">
                <mat-icon>face</mat-icon>
            </ng-template>
            <mat-step [formGroupName]="4" *ngVar="formArray!.get([4]); let group" [stepControl]="group!"
                [optional]="true" state="picture">
                <ng-template matStepLabel>Picture</ng-template>
                <ng-container *ngVar="group!.get('profile_picture'); let pic">
                    <img #preview id="image_preview" alt="Image preview" [style.border]="'3px solid var(--accent)'"
                        [style.border-radius.%]="50" [style.display]="!picture.empty && pic!.valid ? 'block':'none'">


                    <mat-form-field appearance="fill">
                        <mat-label>Profile picture</mat-label>
                        <mat-icon matPrefix color="accent">image</mat-icon>
                        <ngx-mat-file-input #picture formControlName="profile_picture" type="file" accept="image/*"
                            valuePlaceholder="No picture selected" color="accent">
                            <mat-icon ngxMatFileInputIcon>
                                image
                            </mat-icon>
                        </ngx-mat-file-input>
                        <button type="button" matSuffix *ngIf="!picture.empty" mat-icon-button color="warn"
                            (click)="picture.clear($event)">
                            <mat-icon>clear</mat-icon>
                        </button>

                        <mat-error app-mat-err-msgs [errors]="errorMessages.profile_picture"></mat-error>
                    </mat-form-field>

                </ng-container>

                <div class="nav-buttons">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <ng-template matStepperIcon="complete">
                <mat-icon>check_circle_outline</mat-icon>
            </ng-template>
            <mat-step state="complete">
                <ng-template matStepLabel>Done</ng-template>
                <div class="last_page">
                    <p *ngIf="registerForm.valid">
                        You're all set. Please click <b>Submit</b> to register.
                    </p>
                    <p *ngIf="!registerForm.valid" [style.color]="'var(--warn)'">
                        Some fields were not populated or have errors.<br />
                        Corect them in order to register.
                    </p>
                </div>
                <button mat-raised-button color="primary" (click)="onSubmit(registerModal)"
                    [disabled]="!registerForm.valid">Submit</button>

            </mat-step>


            <ng-template matStepperIcon="done">
                <mat-icon>check</mat-icon>
            </ng-template>

        </mat-stepper>
    </form>
</div>

<ng-template #registerModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Congratulations</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef!.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Your registration has been submitted. Please wait for an administrator to approve your account.
    </div>
</ng-template>